doctype html
html
	head
		title 注册
		meta(charset='utf-8')
		link(rel='stylesheet' href='style.css')
		script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript' src='validator.js')
		script(type='text/javascript' src='signup.js')

	body
		h1 注册用户
		form(method='post')
			if error
				div.error!=error
			div.username
				label(for='username') 用户名
				input(id='username' name='username' value=user.username)
				span.error
			div.sid
				label(for='sid') 学号
				input(id='sid' name='sid' value=user.sid)
				span.error
			div.phone
				label(for='phone') 电话
				input(id='phone' name='phone' value=user.phone)
				span.error
			div.email
				label(for='email') 邮箱
				input(id='email' name='email' value=user.email)
				span.error
			div.buttons
				input.button.reset(type='reset' value='清除')
				input.button.submit(type='submit' value='提交')